<div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li ng-repeat="item in menuList|orderBy: 'orderNo':false">
                    <a ng-click="itemClicked(item)"><i class="glyphicon glyphicon-tree-deciduous" translate="{{item.name}}"></i></a>
                    <ul ng-if="item.child.length > 0" class="nav-second-level collapse" >
                        <li ng-repeat="child in item.child | orderBy:'orderNo':false">
                            <a ui-sref="{{child.url}}" style="padding-left: 37px"><span class="glyphicon glyphicon-leaf" translate="{{child.name}}"></span>&nbsp;&nbsp;</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
