<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3" >
        </div>
        <div class="col-xs-2" >
            <ui-select ng-model="$parent.roleSelected" ng-change="roleSelectedChanged()" theme="bootstrap" ng-disabled="disabled" title="Choose a person">
                <ui-select-match placeholder="请选择角色">{{roleSelected.role_name}}</ui-select-match>
                <ui-select-choices repeat="roleItem in roleItems">
                    <div ng-bind-html="roleItem.role_name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-3">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3" >
            <ul id="leftMenuTree" class="ztree" ng-model="selectNode" data="nodeData"></ul>
        </div>
        <div class="col-xs-3" >
            <div class="pull-left">
                <button class="btn btn-danger" ng-click="deleteMenuToRoleButton()">&lt;--删除</button>
                <button class="btn btn-info" ng-click="addMenuToRoleButton()">添加--&gt;</button>
            </div>
        </div>
        <div class="col-xs-3" >
            <ul id="rightMenuTree" class="ztree" ng-model="rightTreeSelectedNode" data="rightTreeNodeData"></ul>
        </div>
        <div class="col-xs-3" >
        </div>
    </div>
</div>
